* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html,
body {
  background: #f0f0f0;
}

#container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  max-height: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: 8px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-content: flex-start;
}

#textArea {
  animation-name: focusOutTextArea;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  background: #f8f8f8;
  box-sizing: border-box;
  border-radius: 4px;
  border: solid 1px #3d3d3d;
  font-size: 16px;
  outline: 0;
  padding: 4px;

  width: 100%;
  /* height: 100%; */
}

@media screen and (max-width: 480px) {
  #textArea {
    max-width: 300px;
    max-height: 400px;
  }
}

#textArea:focus {
  animation-name: focusTextArea;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes focusOutTextArea {
  0% {
    box-shadow: 0 0 4px #202020;
  }
  100% {
    box-shadow: 0;
  }
}

@keyframes focusTextArea {
  0% {
    box-shadow: 0;
  }
  100% {
    box-shadow: 0 0 4px #202020;
  }
}

#title {
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    #ec4848 0%,
    #c51d1d 90%,
    #7a7a7a 90%,
    #7a7a7a 100%
  );
  font-weight: 700;
  font-size: 20px;
  margin: 8px;
  padding: 8px;
  text-align: center;
}

#options div {
  margin-bottom: 8px;
  padding: 4px;
  width: fit-content;
}

.optionsNumber {
  font-size: 14px;
  font-weight: 700;
  padding: 4px;
}

#counters {
  border-radius: 8px;
  margin: 8px;
  height: fit-content;
}

.counter {
  box-sizing: border-box;
  font-weight: 700;
  margin: 4px 0;
  outline: 0;
  padding: 4px 0.5em;
  text-align: right;
  width: 96px;
}

@media (prefers-color-scheme: dark) {
  html,body {
    background: #202020;
    color: white;
  }
  #title {
    background: linear-gradient(
      180deg,
      #073d70 0%,
      #042340 90%,
      #dfdfdf 90%,
      #dfdfdf 100%
    );
  }

  #textArea {
    background: #333333;
    color: white;
  }

  .optionsNumber {
    background: #3f3f3f;
    color: white;
  }

  .counter {
    background: #3f3f3f;
    color: white;
  }
}
